<html>
   <body>
   
      <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />


         <p>Base Directory of Benchmark Images <input type = "text" name = "Name" /></p>
         <input type="submit" name="submit_button" value="Amazon">
         <input type="submit" name="submit_button" value="Microsoft">
         <input type="submit" name="submit_button" value="Face++">
         <input type="submit" name="submit_button" value="Kairos">
         <input type="submit" name="submit_button" value="IBM">

      </form>





   </body>
</html>
